body
{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url("5.jpg");
   background-repeat: no-repeat;
  background-size: cover;
  color:red;
}

.header_div
  {
  background-image: url("3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255); 
  }

  .header_div p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  .main_div button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  
  .copy_right_footer {
   position: fixed;
   color: #6c757d;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #f5f5f5;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(151, 149, 149);
}

#animal_image{
    background-color:white;
}
